//=================================================
// Logo
//=================================================

/*=============================
// Loading
=============================*/
.loading {
    .logo {
        img {
            width: 16rem;
        }
    }
}

/*=============================
// Header
=============================*/
.site-header,
#menu-modal .modal-header {
    .logo {
        overflow: visible;
        img {
            width: 160px;
        }
    }
}
