//=================================================
// Flex content justify
//=================================================

.flex-content-justify {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	> * {
		display: flex;
		align-items:center;
		justify-content:center;
	}
}
