//=================================================
// Forms
//=================================================

/*=============================
// Default
=============================*/
label {
  font-family: $font_secondary_bold;
  font-size: $f_size_df;
  line-height: 1.31;
  color: $label_color;
  margin-bottom: 0.526rem;

  &:last-child {
    margin-bottom: 0;
  }

  &.before {
    @include lhCrop-b(1.31, 0.6);
  }

  &.after {
    @include lhCrop-a(1.31, 0.85);
  }
}

.col-form-label,
.form-label {
  font-size: $f_size_df;

  &-sm {
    font-size: $f_size_sm;
  }

  &-lg {
    font-size: $f_size_lg;
  }
}

.form-check-label,
.custom-control-label,
.form-label-secondary {
  text-transform: none;
}

label:not(.btn):not([class*="-label"]) {
  @include lhCrop-b(1.31, 0.6);

  &:last-child {
    @include lhCrop-a(1.31, 0.85);
  }
}

input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="file"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="range"],
input[type="time"],
input[type="week"],
select,
textarea {
  width: 100%;
  border-radius: 0;

  &::placeholder {
    color: $input_placeholder_color;
  }
}

textarea {
  display: block;
  min-height: 150px;
}

select[multiple] {
  background: none !important;
  background-color: $input_background_secondary_color !important;
}

input[type="checkbox"],
input[type="radio"] {
  width: $custom_control_indicator_size;
  height: $custom_control_indicator_size;
  margin-right: $form_check_input_margin_x;
}

.form-check {
  &:not(.form-check-inline) {
    .form-check-input {
      top: 50%;
      @include transform(translateY(-50%));
    }
  }
}

.form-inline {
  .form-check {
    .form-check-input {
      top: 0;
      @include transform(translateY(0));
    }
  }
}

form {
  p {
    &:before,
    &:after {
      display: none;
    }

    &.form-crop-ba {
      @include lhCrop-b(1.9, 0.8);

      &:last-child {
        @include lhCrop-a(1.9, 0.75);
      }
    }
  }
}

/*=============================
// Form primary
=============================*/
select {
  background: url(../../icons/svg/icon-arrow-down.svg) no-repeat center right 0;
  appearance: none;
}

.btn-outline-primary {
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-family: 'Source Code Pro';

  &:disabled {
    color: rgba(255,255,255,.65);
  }

  &:not(:disabled), &:not(.disabled):active {
    background-color: transparent;
    border-color: #fff;
  }
}

input.form-control {
  background-color: transparent;
}

.form-control:disabled {
  opacity: .65;
  background-color: transparent;
}

input,
textarea,
select {
  background-color: $input_background_primary_color;
  color: $input_text_color;
  padding: 0.526rem 0 0.526rem 0;
  font-size: $f_size_df;
  line-height: 1.94;
  border-bottom: 1px solid $input_border_primary_color !important;
  transition: border-color $transition-s ease-in-out,
    box-shadow $transition-s ease-in-out;

  &:focus {
    background-color: transparent !important;
    border-bottom: 1px solid $input_border_focus_color;
    outline: none;
  }

  &.form-sm {
    font-size: $f_size_sm;
  }

  &.form-lg {
    font-size: $f_size_lg;
  }
}

/*=============================
// Form secondary
=============================*/
select {
  &.form-control {
    background: url(../../icons/svg/icon-arrow-down.svg) no-repeat center right
      $input_padding_x;
    background-color: transparent;
  }
}

.custom-control-label {
  vertical-align: inherit;

  &:after,
  &:before {
    top: 0.211rem;
  }
}

/*=============================
// Form group
=============================*/
.form-group {
  @extend .no-space;

  &:last-child {
    margin-bottom: 0;
  }

  &-xl {
    margin-bottom: $space_xl;
  }

  &-lg {
    margin-bottom: $space_lg;
  }

  &-md {
    margin-bottom: $space_md;
  }

  &-sm {
    margin-bottom: $space_sm;
  }

  &-xs {
    margin-bottom: $space_xs;
  }

  &_40 {
    margin-bottom: 2.105rem;
  }
}

/*=============================
// Input group
=============================*/
.input-group {
  &.gutter-width-xl {
    .gutter-width {
      width: 50%;

      &:first-child {
        padding-right: $space_xl / 2;

        @media #{$media_xl} {
          padding-right: $space_xl / 3;
        }
      }

      &:last-child {
        padding-left: $space_xl / 2;

        @media #{$media_xl} {
          padding-left: $space_xl / 3;
        }
      }

      input {
        width: 100%;
      }
    }
  }

  &.gutter-width-lg {
    .gutter-width {
      width: 50%;

      &:first-child {
        padding-right: $space_lg / 2;

        @media #{$media_xl} {
          padding-right: $space_lg / 3;
        }
      }

      &:last-child {
        padding-left: $space_lg / 2;

        @media #{$media_xl} {
          padding-left: $space_lg / 3;
        }
      }

      input {
        width: 100%;
      }
    }
  }

  &.gutter-width-md {
    .gutter-width {
      width: 50%;

      &:first-child {
        padding-right: $space_md / 2;

        @media #{$media_xl} {
          padding-right: $space_md / 3.3;
        }
      }

      &:last-child {
        padding-left: $space_md / 2;

        @media #{$media_xl} {
          padding-left: $space_md / 3.3;
        }
      }

      input {
        width: 100%;
      }
    }
  }

  &.gutter-width-sm {
    .gutter-width {
      width: 50%;

      &:first-child {
        padding-right: $space_sm / 2;

        @media #{$media_xl} {
          padding-right: $space_sm / 3.3;
        }
      }

      &:last-child {
        padding-left: $space_sm / 2;

        @media #{$media_xl} {
          padding-left: $space_sm / 3.3;
        }
      }

      input {
        width: 100%;
      }
    }
  }

  &.gutter-width-xs {
    .gutter-width {
      width: 50%;

      &:first-child {
        padding-right: $space_xs / 2;

        @media #{$media_xl} {
          padding-right: $space_xs / 3.3;
        }
      }

      &:last-child {
        padding-left: $space_xs / 2;

        @media #{$media_xl} {
          padding-left: $space_xs / 3.3;
        }
      }

      input {
        width: 100%;
      }
    }
  }
}

.form-label-effect {
  .input-group {
    &.gutter-width-xl {
      .gutter-width {
        position: relative;

        &:last-child {
          label {
            padding-left: $space_xl / 2;

            @media #{$media_xl} {
              padding-left: $space_xl / 3;
            }
          }
        }
      }
    }

    &.gutter-width-lg {
      .gutter-width {
        position: relative;

        &:last-child {
          label {
            padding-left: $space_lg / 2;

            @media #{$media_xl} {
              padding-left: $space_lg / 3;
            }
          }
        }
      }
    }

    &.gutter-width-md {
      .gutter-width {
        position: relative;

        &:last-child {
          label {
            padding-left: $space_md / 2;

            @media #{$media_xl} {
              padding-left: $space_md / 3.3;
            }
          }
        }
      }
    }

    &.gutter-width-sm {
      .gutter-width {
        position: relative;

        &:last-child {
          label {
            padding-left: $space_sm / 2;

            @media #{$media_xl} {
              padding-left: $space_sm / 3.3;
            }
          }
        }
      }
    }

    &.gutter-width-xs {
      .gutter-width {
        position: relative;

        &:last-child {
          label {
            padding-left: $space_xs / 2;

            @media #{$media_xl} {
              padding-left: $space_xs / 3.3;
            }
          }
        }
      }
    }
  }
}

.input-group-text {
  input[type="checkbox"],
  input[type="radio"] {
    margin-right: 0;
  }
}

/*=============================
// Search
=============================*/
.search {
  [class*="form-"] {
    padding-right: $input-padding-x-lg * 2;
  }

  .input-group-append {
    position: absolute;
    right: $input-padding-x-lg;
  }
}

#search-modal {
  .modal-body {
    form {
      .search {
        .input-group-append {
          top: 50%;
          @include transform(translateY(-50%));
          z-index: 9;
        }
      }
    }
  }
}

.error404 {
  form {
    .search {
      .input-group-append {
        top: 50%;
        @include transform(translateY(-50%));
        z-index: 9;
      }
    }
  }
}

[class*="-block-search"] {
  position: relative;

  [class*="search__label"] {
    @extend .form-label-lg;
  }

  [class*="-block-search__input"] {
    padding-right: $input_padding_x * 2.5 !important;
    max-width: 100%;
  }

  [class*="-block-search__button"] {
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));
    right: 0;
    z-index: 9;
    margin-top: $input_padding_y / 2;

    // Button
    @extend .btn;
    @extend .btn-link;
    @extend .border-0;
    @extend .p-0;
    @extend .min-w-auto;
    @extend .text-uppercase;
  }
}

/*=============================
// Password form
=============================*/
[class*="-password-form"] {
  input[type="submit"] {
    @extend .btn;
    @extend .btn-link;
    @extend .border-0;
    @extend .p-0;
    @extend .min-w-auto;
    font-size: $f_size_df !important;
  }
}

/*=============================
// Login form
=============================*/
.login-form {
  margin: auto;

  input[value=""] {
    @media #{$media_sm} {
      font-size: 1rem;
      padding-left: .3rem;
      padding-right: .3rem;
    }
  }
}

/*=============================
// Contact form
=============================*/
.contact-form,
.wpcf7-form {
  max-width: 1050px;

  .alert {
    margin-top: $space_lg;
    margin-bottom: 0;
    text-align: left;
  }

  &.invalid {
    [class*="validates-as-required"] {
      border-color: theme-color-level(danger, $alert-color-level);

      &:focus {
        border-color: $input_border_focus_color;
      }
    }
  }

  .ajax-loader {
    background-size: $f_size_df;
    width: $f_size_df !important;
    height: $f_size_df !important;
    display: none !important;

    &.is-active {
      display: inline-block !important;
    }
  }
}

[class*="not-valid-tip"] {
  color: theme-color-level(danger, $alert-color-level) !important;
  font-size: $f_size_lg !important;
}

/*=============================
// Comment form
=============================*/
.comment-form {
  .alert {
    margin-top: 2.105rem;
    margin-bottom: 0;
  }
}

// .form-control-login {
//     font-size: 36px;
//     font-weight: bold;
//     text-align: center;
// }
