@font-face {
  font-family: 'Source Code Pro';
  src: local('Source Code Pro'), local('Source-Code-Pro'),
      url('../fonts/Source-Code-Pro/SourceCodePro-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro Black';
  src: local('Source Code Pro Black'), local('Source-Code-Pro-Black'),
      url('../fonts/Source-Code-Pro/SourceCodePro-Black.otf') format('opentype');
  font-weight: 1000;
  font-style: normal;
}

@font-face {
  font-family: "Recoleta-Bold";
  src: local("Recoleta Bold"), local("Recoleta-Bold"),
    url("../fonts/Recoleta/Recoleta-Bold/Recoleta-Bold.eot") format("embedded-opentype"),
    url("../fonts/Recoleta/Recoleta-Bold/Recoleta-Bold.woff2") format("woff2"),
    url("../fonts/Recoleta/Recoleta-Bold/Recoleta-Bold.woff") format("woff"),
    url("../fonts/Recoleta/Recoleta-Bold/Recoleta-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Recoleta-Regular";
  src: local("Recoleta Regular"), local("Recoleta-Regular"),
    url("../fonts/Recoleta/Recoleta-Regular/Recoleta-Regular.woff2") format("woff2"),
    url("../fonts/Recoleta/Recoleta-Regular/Recoleta-Regular.woff") format("woff"),
    url("../fonts/Recoleta/Recoleta-Regular/Recoleta-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

//=================================================
// Fonts
//=================================================

// Lato-Regular
@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato/Lato-Regular/Lato-Regular.eot");
  src: url("../fonts/Lato/Lato-Regular/Lato-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Lato/Lato-Regular/Lato-Regular.woff2") format("woff2"),
    url("../fonts/Lato/Lato-Regular/Lato-Regular.woff") format("woff"),
    url("../fonts/Lato/Lato-Regular/Lato-Regular.ttf") format("truetype"),
    url("../fonts/Lato/Lato-Regular/Lato-Regular.svg#Lato-Regular")
      format("svg");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

// Lato-Bold
@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato/Lato-Bold/Lato-Bold.eot");
  src: url("../fonts/Lato/Lato-Bold/Lato-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Lato/Lato-Bold/Lato-Bold.woff2") format("woff2"),
    url("../fonts/Lato/Lato-Bold/Lato-Bold.woff") format("woff"),
    url("../fonts/Lato/Lato-Bold/Lato-Bold.ttf") format("truetype"),
    url("../fonts/Lato/Lato-Bold/Lato-Bold.svg#Lato-Bold") format("svg");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

// PlayfairDisplay-Regular
@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular/PlayfairDisplay-Regular.eot");
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular/PlayfairDisplay-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular/PlayfairDisplay-Regular.woff2")
      format("woff2"),
    url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular/PlayfairDisplay-Regular.woff")
      format("woff"),
    url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular/PlayfairDisplay-Regular.ttf")
      format("truetype"),
    url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular")
      format("svg");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

// PlayfairDisplay-Bold
@font-face {
  font-family: "PlayfairDisplay-Bold";
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Bold/PlayfairDisplay-Bold.eot");
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Bold/PlayfairDisplay-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/PlayfairDisplay/PlayfairDisplay-Bold/PlayfairDisplay-Bold.woff2")
      format("woff2"),
    url("../fonts/PlayfairDisplay/PlayfairDisplay-Bold/PlayfairDisplay-Bold.woff")
      format("woff"),
    url("../fonts/PlayfairDisplay/PlayfairDisplay-Bold/PlayfairDisplay-Bold.ttf")
      format("truetype"),
    url("../fonts/PlayfairDisplay/PlayfairDisplay-Bold/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold")
      format("svg");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

/*=============================
// Font size
=============================*/
.font-size {
  &-sm {
    font-size: $f_size_sm;
  }

  &-df {
    font-size: $f_size_df;
  }

  &-lg {
    font-size: $f_size_lg;
  }
}
